<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/links.ejs')%>
</head>
<body>
    <header>
        <%-include('../parcials/nav.ejs')%>    
    </header>
    <%-include('../parcials/footer.ejs')%>
</body>
</html>